
name: test

on: 
  push:
    branches:
      - main
  
  pull_request:
    branches:
      - main


jobs:
  test:
    name: testing
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Upgrade setuptools and pip
        run: python -m pip install -U setuptools pip
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas snowflake-snowpark-python
          pip install "setuptools>=40.6.0" wheel "cloudpickle>=1.6.0,<=2.0.0"
      - name: Test with pytest
        run: |
          pip install pytest
          pytest

